
<!---------ACÃ EMPIEZA BODY -------->
/*-----------
body {
 
 background-color:#EEE8AA
}
----------*/

main {
    text-align: right;
    border-radius: 10px;
}

#boton {
    bottom: 5px;
    right: 5px;
    padding: 25px;
    position: fixed;
    transition: 400ms;

}

#boton-cont {
   border-radius: 50%;
   transition: 500ms;
}

/*-ANIMACION DEL BOTON- 
#boton-cont:hover {
    border-radius: 0;
  
}

---------------------*/

header {

    border-top: 20%;
    margin-top: 10%;
    padding-bottom: 0%;
    padding-bottom: 0%;
    margin-right: 0px;   
    margin-left: 0px;
    margin-top: 20px;
    font-size: 20px;
    text-align: end;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    
}

#logo {
    position:absolute;
    z-index: 100;
    top: 45px;
    left: 0;
    width:300px;
    height:300px;
    border-radius: 0 0 150px 150px;
    
}


NAV A { 
    text-decoration: none;
    margin: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal; 
    font-size: 15px;
    font-weight: bold; 
    color:lightseagreen
    
}   


NAV A:hover {
  text-transform: uppercase;
  text-decoration-line: underline;

}


    

#oracion {
   
    background-image: url(/IMG/Taller_reiki_distancia.jpg);
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-right: 30%;
    padding-left: 30%;
    padding-top: 180px;
    border-left-width: 10%;
    border-right-width: 0px;
    border-top: 30px; 
    margin-top: 3px;
    padding-bottom: 180px;
    font-size:20px;
    font-style: italic;
    
}

h1{
    box-sizing: border-box;
    background-color:#BC8F8F;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    -webkit-margin-top-collapse:0% 0%;
    padding:0px;
}


h2 {
    background-color: #F0E68C;
    background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    font-style: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;


}

#segunda-seccion{
    min-height: 300px;
    padding: 50px;
    background-color: #BC8F8F;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', "Calibri", 'Trebuchet MS', sans-serif;
    justify-content: space-between

}

.parrafoEspecial {
    background-color:#D8BFD8;
    min-height: 100px;
    padding: 50px;
    color: black;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    

    
    

}


#seccion-tercera {
    min-height: 600px;
    background-color: #F0E68C;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 50px;

}

.reikiparrafo {
    min-height: 300px;
    padding: 50px;
    color: black;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    justify-content: space-between;
    background-color: aliceblue;
    align-items: center;
    
 

 

}

#seccion-cuarta {
    background-color: #F5DEB3;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 50px 100px 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
   
}
/*------
p img {
    margin: 0 10%;

}
---------*/
.presencial {
    padding: 40px;
    background-color:#FFEBCD;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    text-align: center;
    border-radius: 20px;
}
.pendulo {
    padding: 40px;
    background-color: #FFEBCD;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    text-align: center;
    border-radius: 20px;
}

.sanacion{
    padding: 40px;
    background-color: #FFEBCD;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    text-align: center;
    border-radius: 20px;

}

#seccion-quinta {
    min-height: 600px;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #BDB76B ;
    background-position: 600px;
    align-items: center;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: row;
    
}

#relatos { 
    min-height: 400px;
    background-position: center;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    font-style: italic;
    padding: 50px;
    background-color: #F0E68C;
    align-items: center;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 20px;

}
.seccion-sexta {
    
    justify-content: center;
    display: flex;
    flex-direction: row;
    padding: 50px;
    background-color:white
      
}



img{
    border-radius: 8px;
    
 
}

footer {

    padding-top: 10px;
    border-top: 1px solid #8c8c8c;
    margin-top: 20px;
    text-align: center;

    

}

